<!--Footer Begin-->
<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-box about-widget">
                    <h2 class="widget-title">About us</h2>
                    <p>Our product is very important one for our body.It is giving the vitamin,Acidity for human body.Then it is making the body health and wealth </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box get-in-touch">
                    <h2 class="widget-title">Get in Touch</h2>
                    <ul>
                        <li>India,Hydrabad Based</li>
                        <li>support@fruities.com</li>
                        <li>+91 9900887766</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box pages">
                    <h2 class="widget-title">Pages</h2>
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="{% url 'product' 0 %}">Shop</a></li>
                        {% if request.user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'register' %}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% comment %} <div class="col-lg-3 col-md-6">
                <div class="footer-box subscribe">
                    <h2 class="widget-title">Subscribe</h2>
                    <p>Subscribe to our mailing list to get the latest updates.</p>
                    <form action="index.html">
                        <input type="email" placeholder="Email">
                        <button type="submit"><i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</div>
<!--Footer End-->