{% extends 'base/base.html' %}
{% load static %}
{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body> {% endcomment %}
  {% block content %}
  {% if otp %}
<br><br><br><br><br>
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img text-center">
                    <img class="img-fluid" src="{% static 'img/signup-2.jpg' %}" alt="">
                    <div class="card-img-overlay">
                        <h4>Already have an account?</h4>
                        <p>If you have previously signed up for the service and can skip the registration process. Simply log in with your existing credentials to access your account and its features.</p>
                        <a class="primary-btn" href="{% url 'login' %}">Login here</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <br><br><br><br><br><br><br><br> 
                    {% for message in messages %}
                    <div class="alert alert-warning col-8 shadow mx-auto text-danger" role="alert">
                      {{message}}
                    </div>
                      {% endfor %}

                      <br>
                    <h3>OTP Verification</h3>
                    <form  action="" method="post"  >
                        {% csrf_token %}
                  
                  <div class="form-group">
                    <input type="hidden" name="usr" value="{{usr.username}}">
                  </div>
                  <div class="col-md-12 form-group" style="max-width:300px; margin-left:115px">
                    <input type="text" class="form-control" id="name" name="otp" placeholder="Enter Your OTP" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Your OTP'">
                  </div>
                <div class="col-md-6 form-group" style=" margin-left:135px">
                    <button type="submit" value="submit" class="primary-btn border-0 btn-sm margin-left:60px">Verify</button>
                </div>    
            
                             
          <div class="row justify-content-center my-2 px-5">
           <i>
            <a href="{% url 'register' %}?username={{ usr.username }}" class="text-dark"
            onclick="ReSendOTP('{{ usr.username }}', 'resendOTPmess')">
          <i id="resendOTPmess">Resend</i> OTP
         </a>
          </i> 
                </div>
              </form>

            </div>
          </div>
          </div>
        </div>
    </div>
</section>
  <!-- End OTP Verification-->

       {%else%}

<!--================Login Box Area =================-->
<br><br><br><br><br><br>
<section style="background-color: gray;" class="login_box_area section_gap">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 text-center">
                <div class="login_box_img">
                    <img class="img-fluid" src="{% static 'img/signup-2.jpg' %}" alt="">
                    <div class="card-img-overlay">
                        <h4>Already have an account?</h4>
                        <p>If you have previously signed up for the service and can skip the registration process. Simply log in with your existing credentials to access your account and its features.</p>
                        <a class="primary-btn" href="{% url 'login' %}">Login here</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                  {% for message in messages %}
                  <div class="alert alert-warning col-8 shadow mx-auto text-danger" role="alert">
                    {{message}}
                  </div>
                    {% endfor %}

                    <h3>Sign up</h3>
                    <form  action="" method="post"  >
                        {% csrf_token %}
                        
                        <div class="col-md-12 form-group">
                            {{form.username}}
                          </div>
                          <div class="col-md-12 form-group">
                            {{form.email}}
                          </div>
                          <div class="col-md-12 form-group">
                            {{form.password1}}
                          </div>
                          <div class="col-md-12 form-group">
                            {{form.password2}}
                          </div>
                        
                        <div class="col-md-12 form-group">
                          
                            <button type="submit"  value="submit" class="primary-btn border-0 ">Sign up</button>
                          </div>
    
                    </form>
  
                         
                      
                      
                      
                    
  
                </div>
            </div>
        </div>
    </div>
</section> 

  {%endif%}  
{% endblock %}
  {% comment %} <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>
</body> {% endcomment %}

  <!--otp Bigin-->
  
  {% comment %} {% if otp %}
  <div class="container height-100 d-flex justify-content-center align-items-center">
    <div class="position-relative">
        <div class="card p-2 text-center">
            <h6>Already have an account?</h6>
            <div><p>If you have previously signed up for the service and can skip the registration process. Simply log in with your existing credentials to access your account and its features.</p> </div>
            <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2"> <input class="m-2 text-center form-control rounded" type="text" id="first" maxlength="1" /> <input class="m-2 text-center form-control rounded" type="text" id="second" maxlength="1" /> <input class="m-2 text-center form-control rounded" type="text" id="third" maxlength="1" /> <input class="m-2 text-center form-control rounded" type="text" id="fourth" maxlength="1" /> <input class="m-2 text-center form-control rounded" type="text" id="fifth" maxlength="1" /> <input class="m-2 text-center form-control rounded" type="text" id="sixth" maxlength="1" /> </div>
            <div class="mt-4" href="{% url 'login' %}"> <button class="btn btn-danger px-4 validate">Login</button> </div>
        </div>
        <div class="col-lg-6">
          <div class="login_form_inner">
              <br><br><br><br><br><br><br><br> 
              {% for message in messages %}
              <div class="alert alert-warning col-8 shadow mx-auto text-danger" role="alert">
                {{message}}
              </div>
                {% endfor %}

                <br>
              <h3>OTP Verification</h3>
              <form  action="" method="post"  >
                  {% csrf_token %}
            
            <div class="form-group">
              <input type="hidden" name="usr" value="{{usr.username}}">
            </div>
            <div class="col-md-12 form-group" style="max-width:300px; margin-left:115px">
              <input type="text" class="form-control" id="name" name="otp" placeholder="Enter Your OTP" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Your OTP'">
            </div>
          <div class="col-md-6 form-group" style=" margin-left:135px">
              <button type="submit" value="submit" class="primary-btn border-0 btn-sm margin-left:60px">Verify</button>
          </div>    
      
                       
    <div class="row justify-content-center my-2 px-5">
     <i>
      <a href="{% url 'register' %}?username={{ usr.username }}" class="text-dark"
      onclick="ReSendOTP('{{ usr.username }}', 'resendOTPmess')">
    <i id="resendOTPmess">Resend</i> OTP
   </a>
    </i> 
          </div>
        </form>

      </div>
    </div>
    </div>
  </div>
</div>
</div>
</div>

  <!-- End OTP Verification-->

       {%else%}

<!--================Login Box Area =================-->
{% comment %} <section class="100%" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 300px;">
          <h3 class="fruit" style="color:#F28123 ; text-align: left;">Fruities</h3>
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <h4>Already have an account?</h4>
                <p>If you have previously signed up for the service and can skip the registration process. Simply log in with your existing credentials to access your account and its features.</p>
                <a class="primary-btn" href="{% url 'login' %}">Login here</a>

                <div class="col-lg-6">
                  <div class="login_form_inner">
                    {% for message in messages %}
                    <div class="alert alert-warning col-8 shadow mx-auto text-danger" role="alert">
                      {{message}}
                    </div>
                      {% endfor %}
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                {% comment %} <form class="mx-1 mx-md-4"> {% endcomment %}
                {% comment %} <form  action="" method="post"  >
                  {% csrf_token %} {% endcomment %}
                  {% comment %} <div class="col-md-12 form-group">
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="form3Example1c" class="form-control" />
                      <label class="form-label" for="form3Example1c">Your Name</label>
                          {{forms.username}}
                            {% comment %} {{form.username}}
                    </div>
                  </div>
                  
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="form3Example3c" class="form-control" />
                      <label class="form-label" for="form3Example3c">Your Email</label>
                      {{forms.email}}
                    {% comment %} <div class="col-md-12 form-group"> 
                      {{form.email}}
                    </div>
                  </div>
                  {% comment %} <div class="col-md-12 form-group"> 
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="form3Example4c" class="form-control" />
                      <label class="form-label" for="form3Example4c">Password</label>
                      {{forms.password1}}
                        {% comment %} {{form.password1}}
                    </div>
                  </div>
                  
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="form3Example4cd" class="form-control" />
                      <label class="form-label" for="form3Example4cd">Confirm password</label>
                        {{forms.password2}}
                    {% comment %} <div class="col-md-12 form-group">
                      {{form.password2}}
                    </div>
                  </div>

                  <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                    <label class="form-check-label" for="form2Example3">
                      I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="button" class="btn btn-primary btn-lg">Register</button>
                  </div>

                </form>

              </div>
              {% comment %} <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{% endif %} {% endcomment %}


{% comment %} <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html> {% endcomment %}
                    



   