{% extends 'head/head.html' %}
{% load static %}


{% block 'content' %}


{% comment %} <div class="text-center mx-auto mt-2">{% include 'includes/alerts.html' %}</div> {% endcomment %}

<<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  
  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="{% url 'admin_panel' %}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'user_list' %}">
        <i class="bi bi-card-list"></i>
        <span>Users</span>
      </a>
    </li><!-- End Register Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'category_man' %}">
        <i class="bi bi-card-list"></i>
        <span>Catogory</span>
      </a>
    </li><!-- End Register Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'products' %}">
        <i class="bi bi-card-list"></i>
        <span>Products</span>
      </a>
    </li><!-- End Register Page Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'order_manage' %}">
          <i class="bi bi-card-list"></i>
        <span>Orders</span>
      </a>
    </li><!-- End Register Page Nav -->
    {% comment %} <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'viewcoupon' %}">
          <i class="bi bi-card-list"></i>
        <span>coupon</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'addcoupon' %}">
          <i class="bi bi-card-list"></i>
        <span>Add coupon</span>
      </a>
    </li><!-- End Register Page Nav --> {% endcomment %}
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'salesreport' %}">
          <i class="bi bi-card-list"></i>
        <span>Sales Report</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'admin_login' %}" role="button">
        <i class="bi bi-box-arrow-in-right"></i>
        {% if request.user.is_authenticated %}
        <span>logout</span>
        {% else %}
        <span>login</span>
        {% endif %}
      </a>
    </li><!-- End Register Page Nav -->
  </ul>

</aside><!-- End Sidebar-->
<br><br><br>
<main class="main" id="main">
<div class="container mt-3" style="min-height: 33rem;">
  <h2 class="text-center text-black">Add Category</h2>
  <form action="{% url 'add_category' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="col form-group">
        <label > Category Name</label><br>
        {{form.category_name}}  
    </div>
    <div class="col form-group">
        <label > Slug</label><br>
        {{form.slug}}  
    </div>

    <div class="col form-group">
        <label > Description</label><br>
        {{form.description}}  
    </div>
    <div class="col form-group">
        <label > Image</label><br>
        {{form.cat_image}}
        <div id="image-box" class="image-container"></div>
        <button class="btn btn-outline-info" id="crop-btn" style="width: 100%; margin-top: 10px; display: none;" type="button">Crop</button>
    </div>
    <div class="col form-group">
       <a href=""> <input type="submit" name="submit" id="submit" class="btn btn-warning" value="Save"/></a>
    </div>
  </form>
</div>

<script>
    document.getElementById("id_category_name").onkeyup=function(){
        document.getElementById("id_slug").value=document.getElementById("id_category_name").value.toLowerCase().replaceAll(" ","-");
      }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>
</main>

  
{% endblock %}